<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
        <script src="{{url_for('static', filename='script.js')}}"></script> 
    </head>
    <body>
        <p>hello</p>
        
        <form action="/calculus" method="POST">
          <label>
            Mia stringa:
            <input type="text" name="mia_stringa">
          </label>

          <label>
            Submitta!
            <input type="submit" name="submit_button">
          </label>
        </form>



        <div class="outer_list">
            {% set count = namespace(value=1) %}
            {% for x in num_element_lista %}
                <div class="single_list_item" 
                     id="single_list_item_{{x}}"
                     onmouseover="play_sound('sound_tiup_{{x}}')"
                     onmousedown="play_sound('sound_wew_{{x}}')" >

                    <audio id="sound_tiup_{{x}}">
                        <source src="{{url_for('static', filename='tiup.mp3')}}" type="audio/mpeg">
                    </audio>
                    <audio id="sound_wew_{{x}}">
                        <source src="{{url_for('static', filename='wew.mp3')}}" type="audio/mpeg">
                    </audio>

                    Località {{data[count.value][1]}}

                </div>
                {% set count.value = count.value + 1 %}
            {% endfor %}
        </div>
    </body>
</html>

