{% extends "base.html" %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <div class="row">
      <div class="col-sm-3" style="background-color: rgb(255, 255, 255);">
        Trova una località:

        <input type="text" id="barra-ricerca" onkeyup="ricerca('barra-ricerca', 'outer_list')" placeholder="Cerca un nome">

        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="enable_regione_search" onchange="checkbox_toggle()">
          <label class="form-check-label" for="enable_regione_search">
            Nella regione di:

            <select class="form-select" id="elenco_regioni" aria-label="Default select example" style="display:none" onchange="discriminazione_regione()">
              {% for regione in regioni %}
                <option value="{{regione}}">{{regione}}</option>
              {% endfor %}
            </select>

          </label>
        </div>

        <div class="outer_list" id="list_container">
            {% for localita in data %}
                <div class="single_list_item" 
                     id="single_list_item_{{localita.id}}"
                     onmouseover="play_sound('sound_tiup_{{localita.id}}')"
                     onmousedown="play_sound('sound_wew_{{localita.id}}')" 
                     data-regione={{localita.regione}}>

                    <audio id="sound_tiup_{{localita.id}}">
                        <source src="{{url_for('static', filename='tiup.mp3')}}" type="audio/mpeg">
                    </audio>
                    <audio id="sound_wew_{{localita.id}}">
                        <source src="{{url_for('static', filename='wew.mp3')}}" type="audio/mpeg">
                    </audio>
                    <a href="{{localita.sito}}" target="_blank">{{localita.nome}}</a>

                </div>
            {% endfor %}
        </div>


      </div>
      <div class="col-sm-9" style="background-color: rgb(255, 255, 255);">
        porzione dedicata alla presentazione delle località
      </div>
  </div>
{% endblock %}